{% extends "main/_base.html" %}
{% load staticfiles %}

<!-- Head -->
{% block title %}Clean Blog - {{ object.title }}{% endblock %}

<!-- body -->

<!-- Header -->
{% block header_image %}{{ MEDIA_URL }}{{ object.image }}{% endblock %}

{% block header %}
<div class="post-heading">
    <h1>{{ object.title }}</h1>
    <h2 class="subheading">
        {% autoescape off %}
            {{ object.body|truncatewords_html:15 }}
        {% endautoescape %}
    </h2>
    <span class="meta">Posted by <a href="{% url 'main:about' %}">Trevor Watson</a> on {{ object.modified_date|date:"N j, Y" }}</span>
</div>
{% endblock %}


<!-- Content -->
{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            {% autoescape off %}
                {{ object.body }}
            {% endautoescape %}
            </div>
        </div>
    </div>
</article>
{% endblock %}

{% block page_js %}
<!-- SyntaxHighlighter -->

<!-- Main JavaScript File -->
<script type="text/javascript" src="{% static 'main/vendor/syntaxhighlighter/js/shCore.js' %}"></script>
 
<!-- Brushes -->
<script type="text/javascript" src="{% static 'main/vendor/syntaxhighlighter/js/shBrushPython.js' %}"></script>
<script type="text/javascript" src="{% static 'main/vendor/syntaxhighlighter/js/shBrushXml.js' %}"></script>
 
<!-- Styling -->
<link href="{% static 'main/vendor/syntaxhighlighter/css/shCoreRDark.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'main/vendor/syntaxhighlighter/css/shThemeRDark.css' %}" rel="stylesheet" type="text/css" />
 
<!-- Run the highlighter -->
<script type="text/javascript">
     SyntaxHighlighter.all()
</script>

<!-- End SyntaxHighlighter -->
{% endblock %}